/*variáveis*/
:root{
    --cor-fundo : rgb(0, 0, 0);
    --cor-hover : rgb(23, 70, 197);
    --cor-primaria : rgb(255, 255, 255);
    --cor-sombra : rgb(172, 172, 172);
}
/*raiz*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0   auto;
    padding: 0;
    box-sizing: border-box;
}
/*menu*/
#menu-h{
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: var(--cor-fundo);
    box-shadow: 0 0 1em rgb(117, 117, 117);
}
#menu-h ul{
    background-color:rgb(53, 53, 53);
    width: 1080px;  
}
#menu-h ul li{
    display: inline;
    position: relative;   
}
#menu-h ul li a{
    color:var(--cor-primaria); 
    padding: 10px;
    display: inline-block;
    text-decoration:none;
    transition: background .2s;
    background-color:rgb(82, 82, 82);
    border-width: 1px;
    border-style: solid;
    border-color:rgba(255, 255, 240, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-color:rgb(0, 0, 0);   
}
#menu-h ul li a:hover{
    background-color:var(--cor-hover);
    font-size: 110%;
}
/*sub menu*/
#menu-h ul ul{
    background-color:var(--cor-fundo);
    display: none;
    width: 1080px;
    left: 0;
    position: absolute;
}
#menu-h ul li:hover ul{
    display: block;
}
#menu-h ul ul{
    width: 150px;
}
#menu-h ul ul li a {
    display: block;
    border-width: 1px;
    border-style: outset;
    border-color:rgba(255, 255, 240, 0);
    border-top-color: rgb(0, 0, 0);
}
/*pagina*/
#container{
    width: 1080px;
    height: 1120px;
    background-color: var(--cor-primaria);
    margin: 0 auto 0 auto;
    box-shadow: 0 5px 5px var(--cor-sombra);
}
#container2 {
    width: 1080px;
    height: 5220px;
    background-color: var(--cor-primaria);
    margin: 0 auto 0 auto;
    box-shadow: 0 5px 5px var(--cor-sombra);
}
#container3 {
    width: 1080px;
    height: 5400px;
    background-color: var(--cor-primaria);
    margin: 0 auto 0 auto;
    box-shadow: 0 5px 5px var(--cor-sombra);
}
#container4{
    width: 1080px;
    height: 800px;
    background-color: var(--cor-primaria);
    margin: 0 auto 0 auto;
    box-shadow: 0 5px 5px var(--cor-sombra);
}
/*corpo*/
body {
    font-size: 120%;
    background-color: rgb(230, 230, 230);
}
#body-sagas{
    text-align: center;
}
#body-filmes{
    text-align: center;
}
#body-sobre{
    text-align: center; 
}
/*pagina 1 conteúdo*/
#primeiro-p {
    font-variant: petite-caps;
    color: rgb(241, 227, 25);
    text-align: center;
    padding: 15px;
    font-variant: small-caps;
    font-size: 200%;
    font-weight: 800;
    text-shadow: 1px 2px 1px rgb(11, 15, 54);
}
#segundo-p {
    font-variant: petite-caps;
    color: rgb(201, 25, 54);
    text-align: center;
    font-variant: small-caps;
    font-size: 200%;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(11, 15, 54);
}
#paragrafo {
    text-align: justify;
    margin: 20px 20px 20px 20px;
}
#extr{
    padding: 15px
}
/* pagina 2 conteúdo*/
#saga-p1, #saga-p2, #saga-p3, #saga-p4, #saga-p5, #saga-p6, #saga-p7, #saga-p8 {
    color: rgb(5, 55, 78);
}
#h1p2 {
    padding: 0;
    color:rgb(241, 227, 25);
    font-variant: small-caps;
    font-size: 200%;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgb(11, 15, 54);
}
#h2p2{
    padding: 15px;
    color:rgb(201, 25, 54);
    font-variant: small-caps;
    font-size: 160%;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(11, 15, 54);
}
dd{
    text-align: center;
    padding: 2px;
}
#dd{
    color: rgb(5, 55, 78);
    margin-bottom: 10px;
    padding: 5px;
}
/* pagina 3 conteúdo */
p {
    color: rgb(5, 55, 78);
}
#h1p3 {
    margin: 0 auto 10px auto;
    padding: 0;
    color:rgb(241, 227, 25);
    font-variant: small-caps;
    font-size: 200%;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgb(11, 15, 54);
}
#h2p3 {
    padding: 5px;
    color:rgb(201, 25, 54);
    font-variant: small-caps;
    font-size: 160%;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(11, 15, 54);
}
/* pagina sobre */
#h1p4 {
    margin: 0 auto 10px auto;
    padding: 0;
    color:rgb(241, 227, 25);
    font-variant: small-caps;
    font-size: 200%;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgb(11, 15, 54);
}
#h2p4{
    padding: 15px;
    color:rgb(201, 25, 54);
    font-variant: small-caps;
    font-size: 160%;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(11, 15, 54);
}
h3{
    color:rgb(114, 166, 170);
    padding: 3px;
    font-size: 130%;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(77, 30, 30);
}
h4
{
    margin: 15px;
    color: rgb(5, 55, 78);
    padding: 50px
}
#p-sobre{
    margin: 10px 100px 10px 100px;
}

/*imagens*/
img {
    box-shadow: 0 5px 5px var(--cor-sombra);
}
img:hover{
    width: 600px;
    transition: .2s;
}
#img1, #img2, #img3{
    box-shadow: 0 5px 5px var(--cor-sombra);
}
#img1:hover, #img2:hover{
    width: 500px;
    margin-bottom: 10px;
    transition: .2s;
}
#img3:hover{
    width: 500px;
    margin-top: 10px;
    transition: .2s;
}
/*formulário*/
#form {
    margin: 10px 30px 10px 30px;
    padding: 15px;
    background-color: rgb(223, 223, 223);
    font-size: 90%;
    box-shadow: 0 0 1em var(--cor-sombra);
}
#form ul button{
    padding: 1px;
}
#form ul button:hover{
    border-color:rgb(53, 53, 53);
    color:rgb(223, 223, 223);
    width: 115px;
    background-color:rgb(78, 78, 78);
    border-radius: 2px;
}
#form-img{
    float: right;
    margin: -110px 20px 0 auto;
    box-shadow: 0 0;
}
#form-img:hover{
    width: 90px;
    transition: .2s;
}
/*botão pag-inicial*/
#button{
    list-style-type: none;
    padding: 40px;

}
#button li{
    display: inline-block;
}
#button li a{
    color: white;
    text-decoration: none;
    padding: 12px;
    background-color: rgb(12, 120, 192);
    border-radius: 30px;
    box-shadow: 0 5px 5px var(--cor-sombra);
}
#button li a:hover{
    background-color: rgb(15, 28, 148);
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 5px 5px var(--cor-sombra);
    font-size: 110%;
}
/*fim de página*/
#end-page{
    text-align: center;
    padding: 20px;
}



